@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --black: 7 7 10;
    --dark: 21 20 36;
    --midd: 35 33 62;
    --midm: 43 41 59;
    --midl: 140 140 190;
    --light: 205 203 214;
    --highlight: 117 75 1;
}

html, body {
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
    height: 100%;
}

body {   
    background: rgb(var(--black));
    color: rgb(var(--light));
    font-family: 'Libre Baskerville';
}

#home {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

#home > div {
    height: 10rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#home h1 {
    margin: 0;
}


#home-start {
    --bg-opacity: 0.5;
    all: unset;
    font-family: 'Inter';
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    height: 4rem;
    background: rgb(var(--highlight) / var(--bg-opacity));
    border: 3px solid rgb(var(--highlight) / .5);
    animation: 3s cubic-bezier(1,0,.5,1) 0s infinite alternate running glow;
    position: relative;
    overflow: hidden;
}
@property --bg-opacity {
    syntax: "<number>";   
    inherits: false;
    initial-value: 0;
}
@keyframes glow {
    0% { --bg-opacity: 0.5; }
    100% { --bg-opacity: 0.8; }
}
#home-start:hover {
    animation: 1s cubic-bezier(.5,0,0,1) 0s 1 forwards running grow;
}
@keyframes grow {
    0% { font-size: 1.5rem; }
    100% { font-size: 2rem; }
}
#home-start:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 100vw;
    transform: translate(-50%, -50%) rotate(-20deg);
    background: rgb(var(--highlight));
    filter: saturate(.5) brightness(1.5) blur(5px);
    mix-blend-mode: screen;
    animation: 1s cubic-bezier(.25,1,.5,1) 0s 1 forwards running glint
}
@keyframes glint {
    0% { left: -10%; }
    100% { left: 110%; }
}